
!!!!!!!!!!!
! General !
!!!!!!!!!!!

! special
*.foreground:   #cbcdd2
*.background:   #1c1d21
*.cursorColor:  #d6d8db

! black
*.color0:       #1c1d21 
*.color8:       #babcc4

! red
*.color1:       #eb3d54
*.color9:       #eb3d54

! green
*.color2:       #78bd65
*.color10:      #78bd65

! yellow
*.color3:       #e5cd52
*.color11:      #e5cd52

! blue
*.color4:       #4fb4d8 
*.color12:      #4fb4d8

! magenta
*.color5:       #B85C8A
*.color13:      #B85C8A

! cyan
*.color6:       #669c9c
*.color14:      #669c9c

! white
*.color7:       #cbcdd2 
*.color15:      #cbcdd2

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Cursor


!!!!!!!!!
! URxvt !
!!!!!!!!!

! Fonts
URxvt.font: xft:FiraMono:size=11,style=medium,xft:Inconsolata for Powerline:size=11,style=medium, xft:Font Awesome: size=11, style=medium
URxvt.boldFont: xft:Fira Mono:size=11,style=bold
URxvt.italicFont: xft:Fira Mono:size=11,style=bold
URxvt.boldItalicFont: xft:Fira Mono:size=11,style=bold
URxvt.letterSpace: -1

! UI
URxvt*borderless: true
URxvt.internalBorder: 10
URxvt*scrollBar: false
URxvt*saveLines: 20000
URxvt*dynamicColors: true
URxvt*termName: rxvt-unicode
URxvt*fading: 10


!#############
! Xft settings
!#############
!################################
! Color settings (Solarized dark)
!################################

! Extensions
URxvt.perl-ext: default,url-select,clipboard
URxvt.perl-ext-common: default,matcher

URxvt*altSendsEscape: true
URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C


URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.clipboard.autocopy: true
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.copyCommand: xsel -ib
URxvt.pasteCommand: xsel -ob

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!!!!!!!!
! Rofi !
!!!!!!!!
